extends base/_layout
block head
    title Swipechain - Decentralized DPoS Payments Blockchain
block page
    include blocks/_hero
    include blocks/_about
    include blocks/_sxp
    include blocks/_exchanges
    include blocks/_developer
    include blocks/_wallet