section.section.about#about
    .container
        .section-head
            h2 About Swipechain
        .section-container.about-container
            .section-media.about-media
                img.about-img(src='images/about-img.svg' alt='')
            .section-content.about-content
                .descr #[a(href='#') Swipechain] is a fully decentralized and open-source blockchain designed from core blockchain components. It operates via a Delegated Proof of Stake consensus and secured by 51 voted-in delegates that produce blocks and validate transactions. 
                a.btn.btn--border(href='https://swipechain.org/whitepaper.pdf' target='_blank')
                    span Learn more
                    +icon('chevron')