section.section.section--gradient.developer#developers
    .container
        .section-head
            h2 Developer
        .section-container.section-container--reverse.developer-container
            .section-media.developer-media
                img.developer-img(src='images/developer-img.svg' alt='')
            .section-content.developer-content
                .descr #[a(href='#') Swipechain] is designed for developers to build layer 1 modules and plugins that retrofit into the core blockchain. With a wide selection of SDKs, developers can build with Swipechain
                .developer-btns
                    a.btn.btn--border(href='https://docs.Swipechain.org' target='_blank')
                        span Read Docs
                        +icon('chevron')
                    a.btn.btn--border.btn--icon(href='https://github.com/Swipechain' target='_blank')
                        span GitHub
                        +icon('github')