section.section.exchanges#exchanges
    .container
        .section-head
            h2 Find SXP on these Exchanges
        .exchanges-content
            .exchanges-items
                .exchanges-item
                    img.exchanges-item__img(src='images/binance.svg' width='124px' height='25px' alt='')
                .exchanges-item
                    img.exchanges-item__img(src='images/ftx.svg' width='86px' height='27px' alt='')
                .exchanges-item
                    img.exchanges-item__img(src='images/upbit.svg' width='83px' height='19px' alt='')
                .exchanges-item
                    img.exchanges-item__img(src='images/bitstamp.svg' width='114px' height='26px' alt='')
                .exchanges-item
                    img.exchanges-item__img(src='images/bithumb.svg' width='137px' height='38px' alt='')
                .exchanges-item
                    img.exchanges-item__img(src='images/huobi.svg' width='93px' height='23px' alt='')
                .exchanges-item
                    img.exchanges-item__img(src='images/kucoin.svg' width='102px' height='30px' alt='')
        .section-footer
            a.btn.btn--border(href='https://coinmarketcap.com/currencies/swipechain/' target='_blank')
                span See Markets
                +icon('chevron')