section.section.hero#home
    .container
        .section-container.section-container--reverse.hero-container
            .section-media.hero-media
                img.hero-img(src='images/hero-img.png' alt='')
            .section-content.hero-content
                .section-content__inner
                    img.hero-logo(src='images/hero-logo.svg' alt='')
                    h1.hero-title Decentralized Payments Blockchain
                    .hero-btns
                        a.btn.btn--border(href='#wallet') Download
                        a.btn.btn--border(href='https://swipechain.org/whitepaper.pdf' target='_blank')
                            span White Paper
                            +icon('chevron')