section.section.section--gradient.sxp#sxp
    .container
        .section-head.sxp-head
            img.sxp-head__img(src='images/sxp-img.svg' alt='')
            h2 SXP
            .descr.sxp-descr SXP is Swipechain’s native cryptocurrency that is used throughout the blockchain with the following utility 
        .sxp-content
            .sxp-items
                .sxp-item
                    .sxp-item__icon
                        +icon('payments')
                    h5.sxp-item__title Payments
                .sxp-item
                    .sxp-item__icon
                        +icon('fees')
                    h5.sxp-item__title Fees
                .sxp-item
                    .sxp-item__icon
                        +icon('voting')
                    h5.sxp-item__title Voting
                .sxp-item
                    .sxp-item__icon
                        +icon('staking')
                    h5.sxp-item__title Staking