section.section.wallet#wallet
    .container
        .section-head
            h2 Wallet
        .section-container
            .section-media.wallet-media
                img.wallet-img(src='images/wallet-img.png' alt='')
            .section-content.wallet-content
                .descr #[a(href='#') Swipechain] users can access the blockchain and participate in the voting and more through Swipechain Desktop Wallets
                .wallet-load
                    .wallet-load__title Download Wallet
                    .wallet-load__items
                        .wallet-load__item
                            a(href='https://github.com/SwipeChain/swipechain-desktop-wallet/releases/download/v2.9.5/swipechain-desktop-wallet-win-2.9.5.exe' target='_blank')
                                img.wallet-load__img(src='images/windows.svg' alt='')
                        .wallet-load__item
                            img.wallet-load__img(src='images/macos.svg' alt='')
                        .wallet-load__item
                            a(href='https://github.com/SwipeChain/swipechain-desktop-wallet/releases/download/v2.9.5/swipechain-desktop-wallet-linux-x86_64-2.9.5.AppImage' target='_blank')
                                img.wallet-load__img(src='images/linux.svg' alt='')
                        .wallet-load__item
                            img.wallet-load__img(src='images/ios.svg' alt='')
                        .wallet-load__item
                            img.wallet-load__img(src='images/android.svg' alt='')